* {
    font-family: poppins;
}

.Home {
    width: 100%;
    height: 100vh;
    background-color: black;

}

.navbar-nav {
    margin-left: auto;
    margin-right: 30px;

}

.nav-item {
    margin-right: 50px;
}

#section1 {
    height: 100vh;
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-pic{
    width: 600px;
}


/* /* for mobile devices with lower than 576px width */

@media (max-width:575.98px) {
    #section1 {
        width: 100%;
        min-height: 100vh;
    }

    .profile-pic {
        width: 200px;
        margin: 0 50px;
    }

    .hello {
        color: whitesmoke;
        font-size: 20px;
        margin-top: 10px;

    }

    .Name {
        color: whitesmoke;
        font-size: 30px;
        margin-top: 10px;
        margin-left: 10%;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .experiences {
        margin-top: 30px;
    }

    .work {
        list-style-type: none;
    }

    .work li {
        font-size: 15px;
    }
}

@media (min-width:768px) {
    #section1 {
        width: 100%;
        min-height: 100vh;
    }
    .profile-pic {
        width: 300px;
        margin: 30px 20px;
    }

    .hello {
        color: whitesmoke;
        font-size: 25px;
        margin-top: 20vh;

    }

    .Name {
        color: whitesmoke;
        font-size: 40px;
        margin-top: 10px;
        margin-left: 40px;
    }
    .experiences {
        margin-top: 30px;
        margin-left: 30px;
    }

    .work {
        list-style-type: none;
    }

    .work li {
        font-size: 20px;
    }
}

@media (min-width:1200px){
    #section1 {
        width: 100%;
        min-height: 100vh;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: left;
    }
    .profile-pic {
        width: 400px;
        margin-right: 100px;
    }

    .hello {
        color: whitesmoke;
        font-size: 40px;
        margin-top: 20vh;

    }

    .Name {
        color: whitesmoke;
        font-size: 70px;
        margin-top: 10px;
        margin-left: 60px;
    }
    .experiences {
        margin-top: 30px;
        margin-left: 30px;
    }

    .work {
        list-style-type: none;
    }

    .work li {
        font-size: 30px;
        margin-left: 25%;
    }
}